<app-edituser
  *ngIf="selectedUser"
  [user]="selectedUser"
  (userUpdated)="onUserUpdated($event)"
  (close)="onCloseAddTask()"
></app-edituser>

@if (isLoading){
<h1 class="text-3xl font-bold text-red-600" style="text-align: center">
  Loading data... Please wait.
</h1>
} @else { @if(isError) {
<h1 class="text-3xl font-bold text-red-600" style="text-align: center">
  Error ocured during fetching data. See logs for more information.
</h1>
} @else {
<div class="mb-1 p-2">
  <div class="flex space-x-4">
    <label>Filter by</label>
    <label for="fltName">Name</label>
    <input
      id="fltName"
      type="text"
      [(ngModel)]="filterUser"
      class="border border-gray-300 rounded-md px-2 py-0 w-1/3"
    />
    <label for="fltEmail">Email</label>
    <input
      id="fltEmail"
      type="text"
      [(ngModel)]="filterEmail"
      class="border border-gray-300 rounded-md px-2 py-0 w-1/3"
    />
    <button
      (click)="applyFilter()"
      class="bg-blue-600 text-white rounded-md px-2 py-0"
    >
      Apply Filter
    </button>
  </div>
</div>
<p class="p-4 font-bold text-blue-600">Users list</p>
<button
  (click)="onNewUserCreate()"
  class="bg-blue-600 text-white rounded-md mx-4 px-4 py-0 cursor-pointer"
>
  Add New User
</button>
<div class="overflow-x-auto p-4">
  <table class="min-w-full bg-white border border-gray-300">
    <thead>
      <tr class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal">
        <th class="py-3 px-6 text-left">Full Name</th>
        <th class="py-3 px-6 text-left">Email</th>
        <th class="py-3 px-6 text-left">Role</th>
        <th class="py-3 px-6 text-left">Created At</th>
        <th class="py-3 px-6 text-left"></th>
      </tr>
    </thead>
    <tbody class="text-gray-600 text-sm">
      <tr
        *ngFor="let user of users"
        class="border-b border-gray-200 hover:bg-gray-100"
      >
        <td
          class="py-3 px-6 cursor-pointer hover:bg-blue-100"
          (click)="onUserSelect(user)"
        >
          {{ user.fullName }}
        </td>
        <td class="py-3 px-6">{{ user.email }}</td>
        <td class="py-3 px-6">{{ user.role }}</td>
        <td class="py-3 px-6">
          {{ user.createdAt | date : "dd-MMM-yyyy HH:mm" }}
        </td>
        <td class="py-3 px-6">
          <button
            (click)="confirmDelete(user)"
            class="bg-red-200 text-gray-600 rounded-md px-2 py-1 cursor-pointer hover:bg-red-600 hover:text-gray-100"
          >
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
} }
